@charset "UTF-8";
/* CSS Document */

body {
  background-color: #9DD3CB;
}

h1 {
  font-family: Verdana, sans-serif; font-weight: normal; color: navy; font-size: 75px; line-height: 66px;
  
}
h2 {
  font-family: Verdana, sans-serif; font-weight: normal; color: black; font-size: 36px; line-height: 46px;
  
}
h3 {
    font-family: Verdana, sans-serif;
    font-weight: normal;
    color: navy;
    font-size: 36px;
    line-height: 40px;
}
h4 {
  font-family: Verdana, sans-serif; font-weight: normal; color: navy; font-size: 30px; line-height: 34px;
  
}
h5 {
  font-family: Verdana, sans-serif; font-weight: bold; color: navy; font-size: 25px; line-height: 30px;
  
}

p {font-family: Verdana, sans-serif; font-weight: normal; font-size: 25px; line-height: 30px; color: #000000; }

a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: purple;
}
